/*
*
* General
*
*/
body {
	background-color: #e5e5e5;
}

h2,
h3,
h4,
h5,
h6,
p {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}


/*
*
* Header
*
*/
.header {
	background-color: white;
}

#yoogle-header {
	font-family: 'Open-Sans', sans-serif;
}

.blue {
	color: #4285f4;
}

.green {
	color: #34a853;
}

.red {
	color: #ea4335;
}

.yellow {
	color: #fbbc05;
}

.black {
	color: #333;
}

#header-name {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}


/*
*
* Banner
*
*/
#orbit-orange {
	background-color: #f8981c;
}

.responsive-img {
	width: 100%;
	height: auto;
}

#avatar-pic {
	max-width: 250px;
	border-radius: 50%;
	margin: 1em;
}

#main-tagline{
	padding: 0.5em;
	font-family: 'Lato', sans-serif;
}


/*
*
* Main
*
*/
.blue-panel {
	margin-bottom: 5px;
	margin-top: 5px;
	background-color: #fff;
	border-color: #e0e0e0;
	border: 2px;
	border-top: 30px solid;
	border-top-color: #4285f4;
}

.panel-body {
	padding: 5px;
}

.work-description {
	font-size: 14px;
}

.red-panel {
	margin-bottom: 5px;
	margin-top: 5px;
	background-color: #fff;
	border-color: #E0E0E0;
	border: 2px;
	border-top: 30px solid;
	border-top-color: #ea4335;
}

.yellow-panel {
	margin-bottom: 5px;
	margin-top: 5px;
	background-color: #fff;
	border-color: #e0e0e0;
	border: 2px;
	border-top: 30px solid;
	border-top-color: #fbbc05;
}

.green-panel {
	margin-bottom: 5px;
	margin-top: 5px;
	background-color: #fff;
	border-color: #e0e0e0;
	border: 2px;
	border-top: 30px solid;
	border-top-color: #34a853;
}

.work-date {
	font-size: 16px;
}


/*
*
* Footer
*
*/
.footer {
	background-color: #bcbbbb;
	margin-top: 10px;
}


/*
*
* D3.JS
*
*/
.solidArc {
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.x.axis path {
	display: none;
}

.aster-score {
	line-height: 1;
	font-weight: bold;
	font-size: 500%;
}

.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}

.d3-tip:after {
	box-sizing: border-box;
	display: block;
	font-size: 10px;
	width: 50%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: '\25BC';
	position: relative;
	text-align: center;
}

.d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}


/*
*
* Google Maps
*
*/
#map {
	display: block;
	height: 100%;
}

#mapDiv {
	height: 300px;
	width: 100%;
}